@model IEnumerable<Aircraft>

@{
    ViewBag.Title = "Gérer les appareils";
}

<h1>Gérer les appareils</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Model.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.NbFlightsSinceCheckup)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.LastCheckUpDate)
            </th>
            <th>
                Etat
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var aircraft in Model) {
            if (aircraft.NeedsCheckup)
            {
                //Peut juste faire ViewBag.RowClass = danger plutôt que de créer une vue partielle
                <partial name="_DangerAircraftPartial" model=aircraft/>
            }
            else
            {
                <partial name="_AircraftRowPartial" model=aircraft/>    
            }
        }
    </tbody>
</table>