@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Just In Time Company</h1>
    <p>
        Marre des bouchons ? Marre des trains ? Nous avons LA solution !</br>
        Notre compagnie propose des vols en hélicoptères à travers la Belgique
    </p>
    <h2>Aéroports désservis:</h2>
    <p>Liège, Bruxelles, Ostende, Charleroi</p>
</div>
