@model IEnumerable<Flight>

@{
    ViewBag.Title = "Rapports de vol";
}

<h1>Rapports de vol</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Path.From)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Path.To)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.TakeOff)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Landing)
            </th>
            <th>
                Rapport
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var flight in Model) {
                {
                if (flight.IsPassed())
                {
                    ViewBag.RowClass = flight.HasReport() ? "table-success" : "table-danger" ;
                }
                else
                {
                    ViewBag.RowClass = " ";
                }

                }
                <partial name="_FlightRow" model=flight/>
            }
    </tbody>
</table>