@model FlightReport

<a asp-action="Index" class="btn btn-primary"><i class="bi bi-arrow-left"></i>Retour</a>

<h4>Rapport de vol</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Report" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Flight.Id" />
            <div class="form-group">
                <label asp-for="Flight.TakeOff" class="control-label"></label>
                <input readonly="@(true)" asp-for="Flight.TakeOff" class="form-control" />
                <span asp-validation-for="Flight.TakeOff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flight.Landing" class="control-label"></label>
                <input readonly="@(true)" asp-for="Flight.Landing" class="form-control" />
                <span asp-validation-for="Flight.Landing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TakeOff" class="control-label"></label>
                <input asp-for="TakeOff" class="form-control" />
                <span asp-validation-for="TakeOff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Landing" class="control-label"></label>
                <input asp-for="Landing" class="form-control" />
                <span asp-validation-for="Landing" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DelayJustification" class="control-label"></label>
                <input asp-for="DelayJustification" class="form-control" />
                <span asp-validation-for="DelayJustification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
