@using Microsoft.AspNetCore.Identity

@inject SignInManager<JITCUser> SignInManager
@inject UserManager<JITCUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav flex-row justify-content-between">
    @if (User.IsInRole("Manager"))
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Manager" asp-action="Flights">Planning de vols <i class="bi bi-calendar2-week"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Manager" asp-action="Aircrafts">Aéronefs <i class="bi bi-tools"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Manager" asp-action="Stats">Statistiques <i class="bi bi-bar-chart-line"></i></a>
        </li>
    }
    else if (User.IsInRole("Customer"))
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Customer" asp-action="Bookings">Mes réservations <i class="bi bi-book"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Customer" asp-action="Search">Chercher un vol <i class="bi bi-search"></i></a>
        </li>
    }
    else if (User.IsInRole("Pilot"))
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Pilot" asp-action="Report">Rapports de vol <i class="bi bi-flag"></i></a>
        </li>
    }
    </ul>
    <ul class="navbar-nav flex-row justify-content-between">
        <li class="nav-item">
            <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profil <i class="bi bi-person-circle"></i></a>
        </li>
        <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-white">Se déconnecter <i class="bi bi-box-arrow-right"></i></button>
        </form>
        </li>
    </ul>
}
else
{
    <div>
        <ul class="navbar-nav flex-row-reverse">
            <li class="nav-item">
                <a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register">S'inscrire</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Connexion</a>
            </li>
        </ul>
    </div>
}
