@model FlightPath

<div class="card text-center m-5 col-9 mx-auto">
  <div class="card-header bg-primary text-white">
    @Model.From.Name <i class="bi bi-arrow-right"></i> @Model.To.Name
  </div>
  <div class="card-body">
      <partial name="_TimeTable" model=Model.FlightInstances/>
  </div>
</div>