@using JustInTimeCompany.Models.ViewModels
@model FlightSearch

@{
    ViewData["Title"] = "Recherche de vols";
}


<a asp-action="Index" class="btn btn-primary"><i class="bi bi-arrow-left"></i>Retour</a>

@{
    List<SelectListItem> airports = new List<SelectListItem>();

    airports.Add(new SelectListItem()
    {
        Text = "Toutes directions",
        Value = "0"
    });

    foreach(var airport in Model.Airports)
    {
        airports.Add(new SelectListItem() 
        {
            Text = airport.Name,
            Value = airport.Id.ToString()
        });
    }
}

<h4>Chercher un vol</h4>
<hr/>
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-primary row col-4" role="alert">
            <span><i class="bi bi-info-square"></i>   @ViewBag.ErrorMessage</span>
        </div>
    }
<div class="row">
    <div class="m-4">
        <form asp-action="Search" method="post">
            <input type="hidden"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-4 form-group">
                    <label asp-for="Path.From" class="control-label"></label>
                    @Html.DropDownListFor(model => model.Path.FromId,
                        airports, new { @class = "form-control" })
                    <span asp-validation-for="Path.From" class="text-danger"></span>
                </div>
                <div class="col-4 form-group">
                    <label asp-for="Path.To" class="control-label"></label>
                    @Html.DropDownListFor(model => model.Path.ToId,
                        airports, new { @class = "form-control" })
                    <span asp-validation-for="Path.To" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-4 form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Chercher" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
