@model IEnumerable<FlightPath>


@{
    ViewData["Title"] = "Trajets";
}

<h1> Trajets </h1>

@foreach(var pathflight in Model){
    if(pathflight.FlightInstances.Count() != 0)
    {
        <partial name="_PathRow" model=pathflight/>
    }
}