@model Booking

<div class="row mx-auto">
    <partial name="_FlightDetails" model=Model.Flight/>
    <div class="col-md-6">
        <h5>Nombre de places réservées : @Model.SeatsTaken</h5>
    </div>
</div>