@model IEnumerable<Flight>

@{
    var flights = Model.OrderBy(fl => fl.TakeOff);
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.TakeOff)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Landing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemainingSeats)
            </th>
            <th>
                Réserver
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var flight in flights) {
            if (flight.IsPassed())
            {
                <partial name="_FlightRow" model=flight/>
            }
        }
    </tbody>
</table>