@model Booking

@{
    ViewData["Title"] = "Réservation";
}

<a asp-action="Index" class="btn btn-primary m-3"><i class="bi bi-arrow-left"></i>Retour</a>

<partial name="_BookingDetails" model=Model />