@using JustInTimeCompany.Models.ViewModels
@model BookingHistoryViewModel

@{
    ViewBag.Title = "Mes réservations";
}

<h1>Mes réservations</h1>

<partial name="_NotifsPartial" model=Model.Notifications />
<partial name="_HistoryPartial" model=Model.Bookings/>

@section Scripts{
    @{await Html.RenderPartialAsync("_BootstrapScriptsPartial");}
}