@using JustInTimeCompany.Models.ViewModels
@model FlightSearchViewModel

<a asp-action="Index" class="btn btn-primary"><i class="bi bi-arrow-left"></i>Retour</a>

@{
    List<SelectListItem> airports = new List<SelectListItem>();

    foreach(var airport in Model.Airports)
    {
        airports.Add(new SelectListItem() 
        {
            Text = airport.Name,
            Value = airport.Id.ToString()
        });
    }
}

<h4>Chercher un vol</h4>
<hr/>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Search" method="post">
            <input type="hidden"/>
            <div class="form-group">
                <label asp-for="Path.From" class="control-label"></label>
                @Html.DropDownListFor(model => model.Path.FromId,
                    airports, new { @class = "form-control" })
                <span asp-validation-for="Path.From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Path.To" class="control-label"></label>
                @Html.DropDownListFor(model => model.Path.ToId,
                    airports, new { @class = "form-control" })
                <span asp-validation-for="Path.To" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Chercher" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
