@model Booking

@{
    ViewData["Title"] = "Vol réservé";
}

<h1>Votre réservation a bien été confirmée, bon vol !</h1>

<a asp-action="Index" class="btn btn-primary m-3"><i class="bi bi-arrow-left"></i>Retour</a>

<h4>Détails de la réservation</h4>
<partial name="_BookingDetails" model=@Model />

