@model Flight

<tr>
    <th scope="col">
        @Html.DisplayFor(model => model.TakeOff)
    </th>
    <th scope="col">
        @Html.DisplayFor(model => model.Landing)
    </th>
    <th scope="col">
        @Html.DisplayFor(model => model.Pilot)
    </th>
    <th>
        <a class="btn btn-outline-primary" asp-action="Edit"><i class="bi bi-pencil-square"></i></a>
        <a class="btn btn-outline-primary" asp-action="Delete"><i class="bi bi-trash"></i></a>
    </th>
</tr>