@model Flight

<tr>
    <td scope="col">
        @Html.DisplayFor(model => model.TakeOff)
    </td>
    <td scope="col">
        @Html.DisplayFor(model => model.Landing)
    </td>
    <td scope="col">
        @Html.DisplayFor(model => model.Pilot.FullName)
    </td>
    <td>
        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id=@Model.Id><i class="bi bi-pencil-square"></i></a>
        <partial name="_DeleteModal" model=Model/>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-@Model.Id">
                <i class="bi bi-trash"></i>
        </button>
    </td>
</tr>