@using JustInTimeCompany.Models.ViewModels
@model FlightEditViewModel

<a asp-action="Index" class="btn btn-primary"><i class="bi bi-arrow-left"></i>Retour</a>

@{
    List<SelectListItem> airportsFrom = new List<SelectListItem>();

    foreach(var from in Model.Airports)
    {
        airportsFrom.Add(new SelectListItem() 
        { 
            Text = from.Name, 
            Value = from.Id.ToString()
        });
    }

    List<SelectListItem> airportsTo = new List<SelectListItem>();

    foreach(var to in Model.Airports)
    {
        airportsTo.Add(new SelectListItem() 
        { 
            Text = to.Name, 
            Value = to.Id.ToString()
        });
    }
}

<h4>Vol</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="@ViewBag.FormAction" method="post">
            <input type="hidden" asp-for="Flight.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Flight.Path.From" class="control-label"></label>
                @Html.DropDownListFor(model => model.Flight.Path.From, 
                    airportsFrom,
                    "Départ", new { @class = "form-control" })
                <span asp-validation-for="Flight.Path.From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flight.Path.To" class="control-label"></label>
                @Html.DropDownListFor(model => model.Flight.Path.To, 
                    airportsTo,
                    "Destination", new { @class = "form-control" })
                <span asp-validation-for="Flight.Path.To" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flight.TakeOff" class="control-label"></label>
                <input asp-for="Flight.TakeOff" class="form-control" />
                <span asp-validation-for="Flight.TakeOff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flight.Landing" class="control-label"></label>
                <input asp-for="Flight.Landing" class="form-control" />
                <span asp-validation-for="Flight.Landing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@ViewBag.ButtonValue" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
