@model Flight


<tr class="@ViewBag.RowClass">
    <td scope="col">
        @Html.DisplayFor(model => model.TakeOff)
    </td>
    <td scope="col">
        @Html.DisplayFor(model => model.Landing)
    </td>
    <td scope="col">
        @Html.DisplayFor(model => model.Pilot.FullName)
    </td>
    <td>
        
    </td>
</tr>