@model FlightPath

@{
    ViewBag.PathId = Model.Id;
}

<div class="card text-center m-5 col-9 mx-auto">
  <div class="card-header bg-primary text-white">
    @Model.From.Location <i class="bi bi-arrow-right"></i> @Model.To.Location
  </div>
  <div class="card-body">
      <partial name="_TimeTable" model=Model.FlightInstances/>
  </div>
</div>