@model Path

<div class="card text-center">
  <div class="card-header">
    @Model.From.Name <i class="bi bi-arrow-right"></i> @Model.To.Name
  </div>
  <div class="card-body">
      <partial name="_TimeTablePartial" model=Model.FlightInstances/>
  </div>
</div>