@model IEnumerable<Flight>

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.TakeOff)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Landing)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Pilot)
            </th>
            <th>
                <a class="btn btn-outline-primary" asp-action="Add">Ajouter un horaire<i class="bi bi-plus"></i></a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var flight in Model) {
            if (flight.IsPassed)
            {
                if (flight.HasReport)
                {
                    ViewBag.RowClass = "table-secondary";
                }
                else
                {
                    ViewBag.RowClass = "table-danger";
                }
                //Sans edit ou supp
                <partial name="_FlightRowPartial" model=flight/>
            }
            else
            {
                ViewBag.RowClass = "";
                <partial name="_FlightRowPartial" model=flight/>
            }
        }
    </tbody>
</table>