@model IEnumerable<Flight>

@{
    var flights = Model.OrderBy(fl => fl.Schedule.TakeOff);
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.TakeOff)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Landing)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Pilot)
            </th>
            <th>
                <a class="btn btn-outline-primary" asp-action="AddSchedule" asp-route-id=@ViewBag.PathId>Ajouter un horaire<i class="bi bi-plus"></i></a>
            </th>
        </tr>
    </thead>
    <tbody>
        @if(flights.Count() > 0){
            @foreach (var flight in flights)
            {
                <partial name="_FlightRow" model=flight/>
            }
        }
        else
        {
            <tr><td colspan=4>Aucun vol futur enregistré</td></tr>
        }
    </tbody>
</table>