@using JustInTimeCompany.Models.ViewModels
@model FlightFormViewModel

@{
    ViewBag.Title = "Ajouter un vol";
    ViewBag.FormAction = "Create";
    ViewBag.ButtonValue = "Ajouter le vol";
}

<h1>Créer un vol</h1>

<partial name="_FlightForm" model=Model/>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_FormScripts");}
}