@using JustInTimeCompany.Models.ViewModels
@model FlightDetailsEditViewModel

@{
    ViewBag.Title = "Ajouter un vol";
    ViewBag.FormAction = "DetailsCreate";
    ViewBag.ButtonValue = "Ajouter le vol";
}

<h1>Créer un vol</h1>

<partial name="_FlightDetailsEditFormPartial" model=Model/>

@{
/*@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}*/
}