@using JustInTimeCompany.Models.ViewModels
@model FlightEditViewModel

@{
    ViewBag.Title = "Modifier un vol";
    ViewBag.FormAction = "Edit";
    ViewBag.ButtonValue = "Modifier le vol";
}

<h1>Modifier un vol</h1>

<partial name="_FlightFormPartial" model=Model/>

@{
/*@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}*/
}

