@using JustInTimeCompany.Models.ViewModels
@model FlightFormViewModel

@{
    ViewBag.Title = "Modifier un vol";
    ViewBag.FormAction = "Edit";
    ViewBag.ButtonValue = "Modifier le vol";
}

<h1>Modifier un vol</h1>

<partial name="_FlightForm" model=Model/>
