@model IEnumerable<Path>

@{
    ViewData["Title"] = "Gérer les vols";
}

<h1>Vols</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Nouveau Vol<i class="bi bi-plus"></i></a>
</p>
<div id="paths" class="">
        @foreach (var path in Model) {
                <partial name="_PathRow" model=path/>
        }
</div>